<!--
	Lecciones Aprendidas NO Globales
	DB view: view-R2
		Selecciona código y nombre de las tablas foraneas auxiliares
	
	* NO SE USA EN EL MOMENTO: SE DEJA A MANERA DE EJEMPLO DE UN 2DO REPORTE
-->
<set formAction="reportes/R2"></set>
<include href="/reportesFiltros/r_filtro2.html" />
<check if="!@lista">
<true>
	<div class="alert alert-info"><b>No hay lecciones para mostrar con los parámetros dados.</b></div>	
</true>
<false>
	<div id="print_area">
	<table width="100%" cellpadding="1" class="valign table-hover table-bordered table-condensed data_base_data">
    <thead>
    <tr>
    	<!--
        <th cope="col">Criterio</th>
        -->
        <th scope="col">ID</th>
        <th scope="col">Año</th>
        <th scope="col">Area de Conocimiento</th>
        <th scope="col">Valoración</th>
        <th scope="col">Descripción</th>
        <th scope="col">Lección Aprendida</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Tipo de proyecto</th>
        <th scope="col">Tipo de servicio</th>
        <th scope="col">Cliente</th>
        <th scope="col">Mercado</th>
        <th scope="col">Ubicación</th>
        <th scope="col">País</th>
        <th scope="col">Arquitectura</th>
        <th scope="col">Tecnología principal</th>
        <th scope="col">Base de datos</th>
    </tr>
    </thead>
    <tbody>
    <repeat group="{{ @lista }}" value="{{ @elem }}">
    	<tr>
    		<!--
            <td style="background-color:#{{ @elem.criterio_color }}; width: 200px">{{ is_null(@elem.criterio)?'N/A':str_replace(" ","&nbsp;",@elem.criterio); }}</td>
           -->
            <td>{{ sprintf (@leccion_id_format,@elem.idleccion) }}</td>
            <td>{{ @elem.ano }}</td>
            <td>{{ @elem.areac }}</td>
            <td>{{ @elem.valoracion=='P'?'POSITIVA':'NEGATIVA' }}</td>
            <td><div style="display: block; width:200px">{{ @elem.descripcion }}</div></td>
            <td><div style="display: block; width:200px">{{ @elem.leccion }}</div></td>
            <td>{{ @elem.proyecto }}</td>
            <td>{{ @elem.tproyecto }}</td>
            <td>{{ @elem.tservicio }}</td>
            <td>{{ @elem.cliente }}</td>
            <td>{{ @elem.mercado }}</td>
            <td>{{ @elem.ubicacion }}</td>
            <td>{{ @elem.pais }}</td>
            <td>{{ @elem.arquitectura }}</td>
            <td>{{ @elem.tecnologia }}</td>
            <td>{{ @elem.basedatos }}</td>
         </tr>
	</repeat>
    </tbody>
	</table>
	<br><br>
	</div>	
</false>
</check>
